{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

<div class="col-lg-8">
    <div class="col-md-offset-5" id="register_div">
        <div id="register_fields_div">
            <h2>Edit profile</h2>
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            {{ form_widget(form) }}
        </div>
        <input class="btn btn-primary" id="register_button" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
        {{ form_end(form) }}
    </div>
</div>