#signup_div{
    background-color: #FFFFFF;
    padding: 15px;
    text-align: center;
}

#signup_fields_div img{
    width: 260px;
    height: 280px;
}


.form-group.row label {
    width: 400%;
}

.div.form-group.row {
    width: 100px;
}

@media (min-width: 768px) {

    .col-sm-10 {
        width: 98%;
    }
}


#signup_fields_div input{
    color: #8B8B8B;
    margin: 10px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    outline: 0;
    /*width: 225px;*/
    height: 40px;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 4px;
    font-size: 15px;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    background-color: #d1eff5;
    padding: 5px;
}

#submit_input_div input{
    background-color: #2a2a2a;
    outline: 0px;
    margin-top: 20px;
    width: 145px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: 3px solid #ffffff;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;
    color: whitesmoke;
}

#submit_input_div input:hover{
    font-size: 21px;
    color: whitesmoke;
}

.container>.footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: inherit;
    text-align: center;
    color: #fff;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    opacity: 0.9;
    z-index: 1030;
    background-color: #ffffff;
}

#login_div{
    background-color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

#username {
    color: #8B8B8B;
    margin: 10px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    outline: 0px;
    width: 225px;
    height: 40px;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 4px;
    font-size: 15px;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    background-color: #d1eff5;
    padding: 5px;
}

#username:focus {
    color: #2b669a;
    width: 50%;
}

#password {
    color: #8B8B8B;
    margin: 10px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    outline: 0px;
    width: 225px;
    height: 40px;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 4px;
    font-size: 15px;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    background-color: #d1eff5;
    padding: 5px;
}

#password:focus {
    color: #2b669a;
    width: 50%;
}

#_submit {
    background-color: #c6c6c6;
    outline: 0px;
    margin-top: 20px;
    width: 145px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: 3px solid #ffffff;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;
}

#_submit:hover {
    font-size: 21px;
    color: #2a2a2a;
}

#SignupBtn {
    background-color: #2a2a2a;
    outline: 0px;
    margin-top: 20px;
    width: 145px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: 3px solid #ffffff;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;
    color: whitesmoke;
}

#SignupBtn:hover {
    font-size: 21px;
    color: whitesmoke;
}





.container {
    padding: 0;
}

body {
    min-height: 75rem;
}


/*.container>.footer {*/
/*    text-align: center;*/
/*    color: #fff;*/
/*    font-size: 25px;*/
/*    padding: 10px;*/
/*    bottom: 0;*/
/*    height: 60px;*/
/*    width: inherit;*/
/*    background-color: #abbbc6;*/
/*    border-top-left-radius: 15px;*/
/*    border-top-right-radius: 15px;*/
/*}*/

body {
    line-height: 0;
    background-color: #EAEAEA;
    font-weight: normal;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;

}

#album_bundle_add_album_type_trackList___name___trackName {
    width: 200px;
}

.fa.pull-right {
    padding-top: 15px;
}

.genus-name {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.genus-details-list, .notes-header {
    padding-left: 20px;
}

/*#logo {*/
/*     width: 32px;*/
/*     height: 32px;*/
/*}*/

/*#MainMenu li{*/
/*    font-family: "Merriweather", serif;*/
/*    text-align: center;*/
/*    background-color: #F2F2F2;*/
/*}*/

/*a[data-toggle="collapse"] {*/
/*    position: relative;*/
/*}*/

/*#MainMenu a {*/
/*    font-style: normal;*/
/*    font-size: 18px;*/
/*    background-color: #F2F2F2;*/
/*    color: #6A6A6A;*/
/*    outline: 0;*/
/*    margin: 10px;*/
/*    padding: 10px;*/
/*}*/

/*#MainMenu a:hover {*/
/*    color: #E1D276;*/
/*}*/

/*!*#register_wrapper {*!*/
/*!*    background-color: #FFFFFF;*!*/
/*!*    padding: 20px;*!*/
/*!*    text-align: center;*!*/
/*!*}*!*/

/*article img {*/
/*    width: 150px;*/
/*    height: 150px;*/
/*}*/

/*.container {*/
/*    padding: 0;*/
/*}*/

/*body {*/
/*    min-height: 75em;*/
/*}*/

/*.container>.navbar {*/
/*    border-radius: 5px;*/
/*}*/

/*.btn-label {*/
/*    position: relative;*/
/*    left: -12px;display: inline-block;*/
/*    padding: 6px 12px;*/
/*    background: rgba(0,0,0,0.15);*/
/*    border-radius: 3px 0 0 3px;}*/

/*.btn-labeled {*/
/*    padding-top: 0;*/
/*    padding-bottom: 0;*/
/*}*/

/*.btn {*/
/*    margin-bottom:10px;*/
/*}*/

/*#register_wrapper input {*/
/*    color: white;*/
/*    box-sizing: border-box;*/
/*    font-size: 15px;*/
/*    background-color: #a4dded;*/
/*}*/

/*.rating {*/
/*    font-size:16px;*/
/*}*/







/*.form-group {*/

/*}*/




/*.sidebar {*/
/*    padding-top: 10px;*/
/*    height: 100%;*/
/*    width: 250px;*/
/*    position: fixed;*/
/*    display: none;*/
/*    border-bottom-right-radius: 15px;*/
/*}*/

/*.container>.footer {*/
/*    !*text-align: center;*!*/
/*    !*color: #fff;*!*/
/*    !*background-color: #000;*!*/
/*    !*font-size: 10px;*!*/
/*    !*padding: 10px;*!*/
/*    !*border-radius: 5px;*!*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    text-align: center;*/
/*    height: 50px;*/
/*    width: inherit;*/
/*    background-color: #abbbc6;*/
/*    border-top-left-radius: 15px;*/
/*    border-top-right-radius: 15px;*/
/*}*/


/*body, wrapper {*/
/*    min-height:100vh;*/
/*}*/

/*article img {*/

/*}*/

.rating {
    font-size:16px;
    display: inline-block;
    margin-top: 5px;
}

.rating-well {
    display: inline-block;
    direction: rtl;
}

.rating input.rating {
    display: none;
}

.rating div.fa-star {
    font-family:"Font Awesome 5 Free";
    font-weight:normal;
    font-style:normal;
    font-size: 25px;
    display:inline-block;
    position: relative;
}

.rating div.fa-star:hover {
    cursor:pointer;
}

.rating div.fa-star:before {
    content:"\f005";
    padding-right:5px;
    color:#999;
}

.rating div.far.fa-star:hover:before,.rating div.fa-star:hover~div.fa-star:before {
    content:"\f005";
    color:#e3b700;
}

.rating div.fas.fa-star {
    font-family:"Font Awesome 5 Free";
    font-style:normal;
    font-size: 25px;
    display:inline-block;
    position: relative;
}

.rating div.fas.fa-star:before  {
    content:"\f005";
    padding-right:5px;
    color:#e3b700;
}

.rating div.far.fa-star {
    font-family:"Font Awesome 5 Free";
    font-style:normal;
    font-size: 25px;
    display:inline-block;
    position: relative;
    float: right;
}

.rating div.far.fa-star:before {
    content:"\f005";
    padding-right:5px;
    color:#999;
}

.rating div.fas.fa-star.fa-norm,
.rating div.far.fa-star.fa-norm {
    font-size: 1em;
}

.rating div.fas.fa-star.fa-lg,
.rating div.far.fa-star.fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.rating div.fas.fa-star.fa-2x,
.rating div.far.fa-star.fa-2x {
    font-size: 2em;
}

.rating div.fas.fa-star.fa-3x,
.rating div.far.fa-star.fa-3x {
    font-size: 3em;
}

.rating div.fas.fa-star.fa-4x,
.rating div.far.fa-star.fa-4x {
    font-size: 4em;
}

.rating div.fas.fa-star.fa-5x,
.rating div.far.fa-star.fa-5x {
    font-size: 5em;
}