#register_wrapper {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

#register_wrapper img {

}

.btn-label {
    position: relative;
    left: -12px;display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom:10px;
}

#register_wrapper input {
    color: white;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #a4dded;
}

.rating {
    font-size:16px;
}







.form-group {

}




.sidebar {
    padding-top: 10px;
    height: 100%;
    width: 250px;
    position: fixed;
    display: none;
    border-bottom-right-radius: 15px;
}

.container>.footer {
    /*text-align: center;*/
    /*color: #fff;*/
    /*background-color: #000;*/
    /*font-size: 10px;*/
    /*padding: 10px;*/
    /*border-radius: 5px;*/
    position: fixed;;
    bottom: 0;
    text-align: center;
    height: 50px;
    width: inherit;
    background-color: #abbbc6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}