{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {% if app.user.id === review.album %}
        <h3>Edit Review for Album: {{ review.title }}</h3>
        {{ form(form) }}
    {% else %}
        <p>Your are not allowed to edit someone's review</p>
    {% endif %}
{% endblock %}